body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  height:1314px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:143px;
  width:1320px;
  height:1313px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:76px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:75px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:23px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:23px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:23px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:20px;
  width:180px;
  height:35px;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:1765px;
  top:23px;
  width:31px;
  height:31px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:1840px;
  top:26px;
  width:60px;
  height:20px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:23px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:23px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#169BD5;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:15px;
  width:44px;
  height:43px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:15px;
  width:88px;
  height:41px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:337px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:1581px;
  top:242px;
  width:291px;
  height:336px;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:152px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:1534px;
  top:143px;
  width:5px;
  height:35px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:34px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:202px;
  width:253px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:268px;
  width:71px;
  height:16px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:268px;
  width:117px;
  height:16px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:2px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:319px;
  width:1084px;
  height:1px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:259px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:353px;
  width:445px;
  height:259px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:753px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:640px;
  width:1084px;
  height:752px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:120px;
  width:219px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:242px;
  width:20px;
  height:20px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:272px;
  width:20px;
  height:20px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:302px;
  width:20px;
  height:20px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:332px;
  width:20px;
  height:20px;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:368px;
  width:20px;
  height:20px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:398px;
  width:20px;
  height:20px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:428px;
  width:20px;
  height:20px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:458px;
  width:20px;
  height:20px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:495px;
  width:20px;
  height:20px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:525px;
  width:20px;
  height:20px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:351px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1502px;
  width:1920px;
  height:350px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:160px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:1541px;
  width:228px;
  height:160px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:17px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:1749px;
  width:515px;
  height:16px;
  color:#FFFFFF;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:145px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:1550px;
  width:300px;
  height:144px;
  color:#FFFFFF;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:1571px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:1609px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:1648px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:1690px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:1571px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:1609px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:1648px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:1690px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:1571px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:1609px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:1648px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:1690px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:1571px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:1609px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:1648px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:1690px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:1526px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1526px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:1353px;
  top:1526px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:1526px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1541px;
  width:130px;
  height:130px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:1681px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:2px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:1737px;
  width:1470px;
  height:1px;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
