body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:480px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:128px;
  width:1364px;
  height:480px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:1360px;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:334px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:726px;
  width:744px;
  height:334px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:337px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:235px;
  width:336px;
  height:336px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:674px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:128px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1174px;
  width:143px;
  height:128px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:108px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1174px;
  width:441px;
  height:107px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1120px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:146px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1663px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:147px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:726px;
  width:473px;
  height:146px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:128px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:1174px;
  width:143px;
  height:128px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:108px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:1174px;
  width:441px;
  height:107px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:128px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1324px;
  width:143px;
  height:128px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:108px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1324px;
  width:441px;
  height:107px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:128px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:1324px;
  width:143px;
  height:128px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:108px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:1324px;
  width:441px;
  height:107px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:128px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1480px;
  width:143px;
  height:128px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:108px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1480px;
  width:441px;
  height:107px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:128px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:1480px;
  width:143px;
  height:128px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:108px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:1480px;
  width:441px;
  height:107px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:164px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:917px;
  width:473px;
  height:163px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  word-wrap:break-word;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:197px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1714px;
  width:318px;
  height:197px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:212px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1957px;
  width:290px;
  height:211px;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:197px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:1714px;
  width:318px;
  height:197px;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:212px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:1957px;
  width:290px;
  height:211px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:524px;
  width:15px;
  height:15px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:524px;
  width:15px;
  height:15px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:524px;
  width:15px;
  height:15px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:197px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1714px;
  width:318px;
  height:197px;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:212px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:1957px;
  width:290px;
  height:211px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:76px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:75px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:23px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:23px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#169BD5;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:23px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:20px;
  width:180px;
  height:35px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:1765px;
  top:23px;
  width:31px;
  height:31px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:1840px;
  top:26px;
  width:60px;
  height:20px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:23px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:23px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:15px;
  width:44px;
  height:43px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:15px;
  width:88px;
  height:41px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:726px;
  width:45px;
  height:16px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:917px;
  width:45px;
  height:16px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:1120px;
  width:59px;
  height:22px;
  font-size:18px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:1663px;
  width:59px;
  height:22px;
  font-size:18px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:560px;
  width:45px;
  height:16px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:351px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2251px;
  width:1920px;
  height:350px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:160px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:2290px;
  width:228px;
  height:160px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:17px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:2498px;
  width:515px;
  height:16px;
  color:#FFFFFF;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:145px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:2299px;
  width:300px;
  height:144px;
  color:#FFFFFF;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:2320px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:2358px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:2397px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:2439px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:2320px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:2358px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:2397px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:2439px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:2320px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:2358px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:2397px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:2439px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:2320px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:2358px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:2397px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:2439px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:2275px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:2275px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:1353px;
  top:2275px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2275px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:2290px;
  width:130px;
  height:130px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:2430px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:2px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:2486px;
  width:1470px;
  height:1px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:337px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:763px;
  width:336px;
  height:336px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:674px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:1088px;
  width:45px;
  height:16px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:665px;
  width:5px;
  height:35px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1111px;
  width:5px;
  height:35px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1654px;
  width:5px;
  height:35px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:1534px;
  top:137px;
  width:5px;
  height:35px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:1534px;
  top:665px;
  width:5px;
  height:35px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
