body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:460px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:122px;
  width:1800px;
  height:460px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:632px;
  width:85px;
  height:28px;
  font-size:20px;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:646px;
  width:379px;
  height:1px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1221px;
  width:85px;
  height:28px;
  font-size:20px;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1235px;
  width:379px;
  height:1px;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:209px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:723px;
  width:1170px;
  height:208px;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:984px;
  width:300px;
  height:170px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:1164px;
  width:10px;
  height:10px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:1164px;
  width:10px;
  height:10px;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1162px;
  width:10px;
  height:10px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:1162px;
  width:10px;
  height:10px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:11px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:1674px;
  top:947px;
  width:8px;
  height:8px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:1698px;
  top:944px;
  width:57px;
  height:16px;
  color:#FF6633;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:1678px;
  top:958px;
  width:2px;
  height:26px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:11px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:1675px;
  top:987px;
  width:8px;
  height:8px;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:984px;
  width:57px;
  height:16px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:1678px;
  top:998px;
  width:2px;
  height:26px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:11px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1675px;
  top:1027px;
  width:8px;
  height:8px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:1024px;
  width:57px;
  height:16px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1969px;
  width:85px;
  height:28px;
  font-size:20px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1983px;
  width:379px;
  height:1px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:2623px;
  width:85px;
  height:28px;
  font-size:20px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:2637px;
  width:379px;
  height:1px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:2288px;
  width:85px;
  height:28px;
  font-size:20px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:2302px;
  width:379px;
  height:1px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:145px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:2055px;
  width:795px;
  height:144px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:145px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:2385px;
  width:795px;
  height:144px;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:393px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:2747px;
  width:500px;
  height:393px;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:394px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:2747px;
  width:300px;
  height:393px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:1678px;
  top:1038px;
  width:2px;
  height:26px;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:11px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:1675px;
  top:1067px;
  width:8px;
  height:8px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:1064px;
  width:57px;
  height:16px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:1678px;
  top:1077px;
  width:2px;
  height:26px;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:11px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:1675px;
  top:1106px;
  width:8px;
  height:8px;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:1103px;
  width:57px;
  height:16px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:233px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:646px;
  width:217px;
  height:232px;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:38px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:1674px;
  top:686px;
  width:4px;
  height:33px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:1692px;
  top:691px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:1674px;
  top:751px;
  width:125px;
  height:16px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:17px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:1674px;
  top:777px;
  width:153px;
  height:16px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:1674px;
  top:803px;
  width:97px;
  height:16px;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:1674px;
  top:829px;
  width:167px;
  height:16px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2815px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:2797px;
  width:217px;
  height:1px;
  color:#797979;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2844px;
  width:104px;
  height:28px;
  color:#000000;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:33px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2889px;
  width:231px;
  height:32px;
  color:#797979;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:2816px;
  width:18px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:2943px;
  width:217px;
  height:1px;
  color:#797979;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2962px;
  width:149px;
  height:16px;
  color:#797979;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:371px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1299px;
  width:58px;
  height:371px;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1309px;
  width:21px;
  height:22px;
  font-size:18px;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1341px;
  width:61px;
  height:16px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1315px;
  width:225px;
  height:16px;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1387px;
  width:21px;
  height:22px;
  font-size:18px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1419px;
  width:61px;
  height:16px;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1465px;
  width:21px;
  height:22px;
  font-size:18px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1497px;
  width:61px;
  height:16px;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1544px;
  width:21px;
  height:22px;
  font-size:18px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1576px;
  width:61px;
  height:16px;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1622px;
  width:21px;
  height:22px;
  font-size:18px;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1654px;
  width:61px;
  height:16px;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1393px;
  width:225px;
  height:16px;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1471px;
  width:225px;
  height:16px;
}
#u1302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1550px;
  width:225px;
  height:16px;
}
#u1303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1628px;
  width:225px;
  height:16px;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1305_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:1678px;
  top:1116px;
  width:2px;
  height:26px;
}
#u1305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:11px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:1675px;
  top:1145px;
  width:8px;
  height:8px;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:1142px;
  width:57px;
  height:16px;
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1726px;
  width:85px;
  height:28px;
  font-size:20px;
}
#u1309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1740px;
  width:379px;
  height:1px;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:97px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1812px;
  width:795px;
  height:96px;
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:76px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:75px;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:23px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:23px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:23px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#169BD5;
}
#u1315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:20px;
  width:180px;
  height:35px;
}
#u1316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:1765px;
  top:23px;
  width:31px;
  height:31px;
}
#u1317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:1840px;
  top:26px;
  width:60px;
  height:20px;
}
#u1318_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:23px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:23px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:15px;
  width:44px;
  height:43px;
}
#u1321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:15px;
  width:88px;
  height:41px;
}
#u1322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:351px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3195px;
  width:1920px;
  height:350px;
}
#u1323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:160px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:3234px;
  width:228px;
  height:160px;
}
#u1324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:17px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:3442px;
  width:515px;
  height:16px;
  color:#FFFFFF;
}
#u1325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  word-wrap:break-word;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:145px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:3243px;
  width:300px;
  height:144px;
  color:#FFFFFF;
}
#u1326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:3264px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:3302px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:3341px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:3383px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:3264px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:3302px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:3341px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:3383px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:3264px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:3302px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:3341px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:3383px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:3264px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:3302px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:3341px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:3383px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:3219px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:3219px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:1353px;
  top:3219px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:3219px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:3234px;
  width:130px;
  height:130px;
}
#u1347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:3374px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:2px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:3430px;
  width:1470px;
  height:1px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
